.main{
    text-align: center;
}

footer {
    background-color: #F2F2F2;
    border-top: 1px solid #e4e4e4;
    line-height: 40px;
    min-width: 980px;
}

nav{
    text-align: right;
}
nav ul{
    display: inline-flex;
    
    
}
nav ul li{
    text-decoration: none;
    list-style: none;
    padding: 12px;
}
nav ul li a{
    text-decoration: none;
    color: black;

    
}
div ul{

    display: inline-flex;
    
}

div ul li{
    text-decoration: none;
    list-style: none;
    padding: 12px;
    
    }


div ul li a{
    text-decoration: none;
   
}

div ul li { text-align: left; }


html, body {  height: 60%; }

.container {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -100px; 

}

.footer, #push {
    height: 100px; 
}
   
.logo{
    padding-top: 10%;
    box-align: 10%;
}

#search-bar {
    width: 450px;
    height: 38px;
    border-width: 0.5px;
    border-radius: 1em;
    position: relative;
    right: 15px;
    border-color: rgba(128, 139, 150, 0.322);
}

